*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  scroll-behavior:smooth;
  font-family:'Poppins',sans-serif;
}

body{
  background:#0f0f1a;
  color:#fff;
  overflow-x:hidden;
}

/* Navbar */
nav{
  position:fixed;
  width:100%;
  padding:20px 100px;
  display:flex;
  justify-content:space-between;
  align-items:center;
  background:rgba(15,15,26,0.8);
  backdrop-filter:blur(10px);
  z-index:1000;
  transition:0.3s;
}

nav .logo{
  font-size:24px;
  font-weight:700;
  color:#00f5d4;
}

nav ul{
  display:flex;
  list-style:none;
}

nav ul li{
  margin-left:30px;
}

nav ul li a{
  text-decoration:none;
  color:#fff;
  transition:0.3s;
}

nav ul li a:hover{
  color:#00f5d4;
}

/* Hero Section */
section{
  min-height:100vh;
  padding:120px 100px;
  display:flex;
  align-items:center;
  justify-content:space-between;
}

.hero{
  background:linear-gradient(135deg,#0f0f1a,#1a1a2e);
}

.hero-text{
  max-width:600px;
}

.hero-text h1{
  font-size:50px;
}

.hero-text h1 span{
  color:#00f5d4;
}

.hero-text h3{
  margin-top:20px;
  font-weight:400;
  color:#aaa;
}

/* .btn{
  margin-top:30px;
  padding:12px 30px;
  border:none;
  background:#00f5d4;
  color:#000;
  font-weight:600;
  cursor:pointer;
  border-radius:30px;
  transition:0.4s;
} */

/* .btn:hover{
  background:#fff;
  transform:scale(1.1);
} */

 .btn{
        display: block;
        margin: 50px auto;
        width: fit-content;
        border: 1px solid #00e1ff;
        padding: 14px 50px;
        border-radius: 6px;
        text-decoration: none;
         color:#000;
        background:#00f5d4;
       
    }
    .btn:hover{
        background: #ff004f;
    
    }

/* About */
.about{
  background:#1a1a2e;
  flex-direction:column;
  text-align:center;
}

.about h2{
  font-size:40px;
  margin-bottom:20px;
  color:#00f5d4;
}

/* Skills */
.skills{
  background:#16213e;
  flex-direction:column;
}

.skills h2{
  margin-bottom:40px;
  color:#00f5d4;
}

.skill-box{
  width:100%;
  max-width:600px;
}

.skill{
  margin-bottom:20px;
}

.skill-name{
  display:flex;
  justify-content:space-between;
}

.skill-bar{
  height:8px;
  background:#333;
  border-radius:20px;
  overflow:hidden;
}

.skill-progress{
  height:8px;
  background:#00f5d4;
  width:0;
  transition:2s ease;
}

/* Projects */
/* .projects{
  background:#1a1a2e;
  flex-direction:column;
}

.project-container{
  display:flex;
  gap:20px;
  flex-wrap:wrap;
  justify-content:center;
}

.project-card{
  width:250px;
  padding:20px;
  background:#16213e;
  border-radius:15px;
  transition:0.4s;
}

.project-card:hover{
  transform:translateY(-10px);
  box-shadow:0 10px 30px rgba(0,245,212,0.3);
} */
 #portfolio{
        padding: 50px 0;
    }
    .work-list{
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
        grid-gap:40px;
        margin-top: 50px;
    
    }
    .work{
        border-radius: 10px;
        position: relative;
        overflow: hidden;
    }
    .work img{
        width:100%;
        border-radius: 10px;
        display: block;
        transition: transform 0.5s;
    
    }
    .layer{
        width: 100%;
        height: 0;
        background: linear-gradient(rgba(0,0,0,0.5),#ff004f);
        border-radius: 10px;
        position: absolute;
        left: 0;
        bottom: 0;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 0,40px;
        text-align: center;
        font-size: 14px;
        transition: height 0.5s;
    }
    .layer h3{
        font-weight: 500;
        margin-bottom: 10px;
    }
    .layer a{
        margin-top: 20px;
        color: #ff004f;
        text-decoration: none;
        font-size: 18px;
        line-height: 80px;
        background: #fff;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        text-align: center;
    }
    .work:hover{
        transform: scale(1.1);
    
    }
    .work:hover .layer{
        height: 100%;
    }

/* Contact */
.contact{
  background:#0f3460;
  flex-direction:column;
  text-align:center;
}

.contact h2{
  margin-bottom:20px;
  color:#00f5d4;
}

/* Scroll Animation */
.hidden{
  opacity:0;
  transform:translateY(50px);
  transition:all 1s;
}

.show{
  opacity:1;
  transform:translateY(0);
}

/* Responsive */
@media(max-width:900px){
  nav{
    padding:20px;
  }
  section{
    padding:120px 20px;
    flex-direction:column;
    text-align:center;
  }
  .project-container{
    flex-direction:column;
    align-items:center;
  }
}