*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  scroll-behavior:smooth;
  font-family:'Poppins',sans-serif;
}

body{
  background:#0f0f1a;
  color:#fff;
  overflow-x:hidden;
}

/* Navbar */
nav{
  position:fixed;
  width:100%;
  padding:20px 100px;
  display:flex;
  justify-content:space-between;
  align-items:center;
  background:rgba(15,15,26,0.8);
  backdrop-filter:blur(10px);
  z-index:1000;
  transition:0.3s;
}

nav .logo{
  font-size:24px;
  font-weight:700;
  color:#00f5d4;
}

nav ul{
  display:flex;
  list-style:none;
}

nav ul li{
  margin-left:30px;
}

nav ul li a{
  text-decoration:none;
  color:#fff;
  transition:0.3s;
}

nav ul li a:hover{
  color:#00f5d4;
}
h1{
  font-size: smaller;
}

 .design.circle1.circle2{
        aspect-ratio: 1;
        position: absolute;
        border-radius: 50%;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    
    }
    .circle1{
        background-color: #1dc2bf;
        width: 30rem;
        aspect-ratio: 1;
        position: absolute;
        border-radius: 50%;
        top: 60%;
        left: 70%;
        transform: translate(-50%,-50%);
        background-image: url("n1.jpg");
        background-size: 100%;
        background-repeat: no-repeat;
        box-shadow: 0 0 6rem #95deef;
      
    
    
    }

/* Hero Section */
section{
  min-height:80vh;
  padding:120px 100px;
  display:flex;
  align-items:center;
  justify-content:space-between;
}

.hero{
  background:linear-gradient(135deg,#0f0f1a,#1a1a2e);
}

.hero-text{
  max-width:600p
}

.hero-text h1{
  font-size:50px;
}

.hero-text h1 span{
  color:#77fae8;
}

.hero-text h3{
  margin-top:20px;
  font-weight:400;
  color:#fdf8f8;
}
.merquee{
color: #00f5d4;
}
.about {
  padding: 80px 10%;
  background-color: #f8f9fa;
}

.about-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 50px;
}

.about-image img {
  width: 300px;
  border-radius: 15px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.1);
}

.about-content {
  flex: 1;
  min-width: 300px;
}

.about-content h2 {
  font-size: 36px;
  margin-top: 30px;
  margin-bottom: 20px;
  align-items: center;
  text-align: center;
  color: hwb(0 95% 2%);
}

.about-content h2::after {
  content: "";
  display: block;
  width: 60px;
  height: 4px;
  /* background: #007bff; */
  margin-top: 8px;
  border-radius: 2px;
}

.about-content p {
  margin-bottom: 15px;
  margin-left: 31%;
  margin-right: 5%;
  line-height: 1.6;
  display: block;
  font-size: 25px;
  color: hsl(0, 10%, 96%);
  
}
.about-content p b{
  color: #ff004f;
}

.about-content span {
  color: #00fff7;
  font-weight: bold;
}

.about-info {
  /* margin: 20px 0; */
  /* margin-bottom: 15px; */
  margin-left: 20%;
  margin-top: 7%;
}

.about-info div {
  margin-bottom: 8px;
  color: #fcf9f9;
}

.btn {
  display: inline-block;
  padding: 10px 25px;
  background: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 6px;
  transition: 0.3s ease;
}

.btn:hover {
  background: #0056b3;
}


/* .btn{
  margin-top:30px;
  padding:12px 30px;
  border:none;
  background:#00f5d4;
  color:#000;
  font-weight:600;
  cursor:pointer;
  border-radius:30px;
  transition:0.4s;
} */

/* .btn:hover{
  background:#fff;
  transform:scale(1.1);
} */

 .btn{
        display: block;
        margin: 50px auto;
        width: fit-content;
        border: 1px solid #00e1ff;
        padding: 14px 50px;
        border-radius: 6px;
        text-decoration: none;
         color:#000;
        background:#00f5d4;
       
    }
    .btn:hover{
        background: #ff004f;
    
    }

/* About */
.about{
  background:#1a1a2e;
  flex-direction:column;
  text-align:center;
}

.about h2{
  font-size:40px;
  margin-bottom:20px;
  color:#00f5d4;
}

/* Skills */
.skills{
  background:#16213e;
  flex-direction:column;
}

.skills h2{
  margin-bottom:40px;
  color:#00f5d4;
}

.skill-box{
  width:100%;
  max-width:600px;
}

.skill{
  margin-bottom:20px;
}

.skill-name{
  display:flex;
  justify-content:space-between;
}

.skill-bar{
  height:8px;
  background:#333;
  border-radius:20px;
  overflow:hidden;
}

.skill-progress{
  height:8px;
  background:#00f5d4;
  width:0;
  transition:2s ease;
}

/* Projects */
/* .projects{
  background:#1a1a2e;
  flex-direction:column;
}

.project-container{
  display:flex;
  gap:20px;
  flex-wrap:wrap;
  justify-content:center;
}

.project-card{
  width:250px;
  padding:20px;
  background:#16213e;
  border-radius:15px;
  transition:0.4s;
}

.project-card:hover{
  transform:translateY(-10px);
  box-shadow:0 10px 30px rgba(0,245,212,0.3);
} */
 #portfolio{
        padding: 50px 0;
    }
    .work-list{
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
        grid-gap:40px;
        margin-top: 50px;
    
    }
    .work{
        border-radius: 10px;
        position: relative;
        overflow: hidden;
    }
    .work img{
        width:100%;
        border-radius: 10px;
        display: block;
        transition: transform 0.5s;
    
    }
    .layer{
        width: 100%;
        height: 0;
        background: linear-gradient(rgba(0,0,0,0.5),#ff004f);
        border-radius: 10px;
        position: absolute;
        left: 0;
        bottom: 0;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 0,40px;
        text-align: center;
        font-size: 14px;
        transition: height 0.5s;
    }
    .layer h3{
        font-weight: 500;
        margin-bottom: 10px;
    }
    .layer a{
        margin-top: 20px;
        color: hsl(185, 96%, 69%);
        text-decoration: none;
        font-size: 18px;
        line-height: 80px;
        background: #fff;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        text-align: center;
    }
    .work:hover{
        transform: scale(1.1);
    
    }
    .work:hover .layer{
        height: 100%;
    }

/* Contact */
.contact{
  background:#0f3460;
  flex-direction:column;
  text-align:center;
}

.contact h2{
  margin-bottom:20px;
  color:#00f5d4;
}

/* Scroll Animation */
.hidden{
  opacity:0;
  transform:translateY(50px);
  transition:all 1s;
}

.show{
  opacity:1;
  transform:translateY(0);
}
 .contact-left{
        flex-basis: 35%;
    
    
    }
    .contact-right{
        flex-basis: 60%;
    
    }
    .contact-left p{
       margin-top: 30px;
    }
    .contact-left p i{
        color: #ef1a5e;
        margin-right: 15px;
        font-size: 25px;
    }
    .social-icon a{
        text-decoration: none;
        font-size: 30px;
        margin-right: 15px;
        color: #ababab;
        display: inline-block;
        transition: transform 0.5s;
    
    }
    .social-icon a:hover{
        color: #ff004f;
        transform: translateY(-5px);
    }
    .btn.btn2{
        display: inline-block;
        background: #79e2fa;
        color: #000;
    
    }
    .contact-right form{
        height: 100%;  
    
    }
    form input, form textarea{
        width: 100%;
        border: 0;
        outline: none;
        background: #090202;
        padding: 15px;
        margin: 15px 0;
        color:hsl(0, 0%, 100%);
        font-size: 18px;
        border-radius: 6px;
    }
    form btn2{
        padding: 14px 60px;
        font-size: 18px;
        margin-top: 20px;
        cursor: pointer;
    
    }

/* Responsive */
@media(max-width:900px){
  nav{
    padding:20px;
  }
  section{
    padding:120px 20px;
    flex-direction:column;
    text-align:center;
  }
  .project-container{
    flex-direction:column;
    align-items:center;
  }
}